// 1. Import the initial variables
@import "bulma.min";
@import "../node_modules/bulma/sass/utilities/_all";
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=6917bb16-80ea-4968-be19-e884fc22d931");

@font-face {
	font-family: "Legacy Serif Book";
	src: url("../fonts/97c2c577-bf8e-4708-baff-001fd32f4d08.eot?#iefix");
	src: url("../fonts/97c2c577-bf8e-4708-baff-001fd32f4d08.eot?#iefix") format("eot"), url("../fonts/1aa4f478-0211-4879-a4e6-a0be4a43e71e.woff2") format("woff2"), url("../fonts/54a75543-b5b3-45e1-81aa-b1ad5b50a901.woff") format("woff"), url("../fonts/dfbf3526-722f-44ca-8fc1-5b07cb575fd0.ttf") format("truetype");
}

@font-face {
	font-family: "Legacy Serif Book Italic";
	src: url("../fonts/b5f110df-dc07-4adc-866a-ec62f641ac54.eot?#iefix");
	src: url("../fonts/b5f110df-dc07-4adc-866a-ec62f641ac54.eot?#iefix") format("eot"), url("../fonts/1df5c56f-e7a0-44f6-8b60-45f5bbb438d0.woff2") format("woff2"), url("../fonts/5c11ea6e-da06-4fa6-b2b5-872a67579f4f.woff") format("woff"), url("../fonts/6103ef63-5116-480b-b304-6b5bb947cfee.ttf") format("truetype");
}

@font-face {
	font-family: "Legacy Serif Medium";
	src: url("../fonts/a1c4b7ec-d8df-4b2a-9e93-d716a6027648.eot?#iefix");
	src: url("../fonts/a1c4b7ec-d8df-4b2a-9e93-d716a6027648.eot?#iefix") format("eot"), url("../fonts/2f9a1521-0f15-4db8-aa61-a04506b6295d.woff2") format("woff2"), url("../fonts/c06e5802-c6d0-4006-9be5-b1c0bc8629bd.woff") format("woff"), url("../fonts/16669343-ea58-41d7-8210-3dae5252a89d.ttf") format("truetype");
}

@font-face {
	font-family: "Legacy Serif Medium Italic";
	src: url("../fonts/341a7c5a-cbb2-4982-980b-0a4351c498b3.eot?#iefix");
	src: url("../fonts/341a7c5a-cbb2-4982-980b-0a4351c498b3.eot?#iefix") format("eot"), url("../fonts/587a727c-a464-4ab4-8dc3-55a2306480f3.woff2") format("woff2"), url("../fonts/a2f3647f-f85d-4088-b934-d7e9551a9255.woff") format("woff"), url("../fonts/e008d5d6-3100-4717-8a57-9c983dd7e0b9.ttf") format("truetype");
}

@font-face {
	font-family: 'xiaoman icons';
	src: url('../fonts/xiaoman-Regular.eot');
	src: url("../fonts/xiaoman-Regular.eot") format("eot"), url("../fonts/xiaoman-Regular.woff2") format("woff2"), url("../fonts/xiaoman-Regular.woff") format("woff");
}

$egmedium: 'Legacy Serif Medium',
serif;
$anime: cubic-bezier(0.215, 0.61, 0.355, 1) all 0.6s;
$jpbody: 'Legacy Serif Book',
"I-OTF明朝オールドPro M",
"IwaOMinPro-Md",
serif;
$jpbold: 'Legacy Serif Medium',
'PKizaKinryouStdN-Bold',
serif;
$jpthin: 'Legacy Serif Book',
'PKizaKinryouStdN-Medium',
serif;
$onjp: 'PKizaKinryouStdN-Medium',
serif;
$icon: 'xiaoman icons';
$main: #CCC6AA;
$whitegray: #DDD;

body {
	background-color: $main;
	overflow: hidden;
}

.relative {
	position: relative;
}

.contents.ma100 {
	margin-top: 100px;
}

.contents.ma50 {
	margin-top: 50px;
}

#jp {
	font-family: $jpbody;

	h3,
	h6 {
		font-family: $jpbold;
	}

	#menu p {
		font-family: $onjp;
	}

	#menu p.sub {
		font-family: $jpbold;
	}

	h2 {
		font-family: $jpthin;
		text-align: center;
		font-size: 38px;
		margin-top: -30px;
		margin-bottom: 40px;
		color: $whitegray;
	}

	h3 {
		font-size: 38px;
		margin-bottom: 0.7em;
		margin-top: 0;
	}

	h5 {
		font-size: 30px;
		font-family: $jpthin;
		line-height: 1.3;
		transform: translateX(-3px);
	}

	h6 {
		line-height: 1.3;
		color: black;

		span {
			font-size: 17px;
		}
	}

	p {
		font-size: 15px;
		line-height: 1.9;
	}

	strong {
		font-weight: normal;
		font-family: $jpbold;
	}
	@include tablet{
		h5{
			font-size: 24px;
		}
		p{
			font-size: 14px;
		}
	}
}

a {
	color: black;
}


.store {
	.summary {
		margin-top: 150px;
		margin-bottom: 150px;

		p {
			margin-bottom: 20px;
		}
	}
	@include tablet{
		padding-left: 20px;
		padding-right: 20px;
	}
}

.storetop {
	height: calc(100vh - 40px);
	width: calc(100vw - 40px);
	margin-left: 20px;
	@include tablet{
		margin-left: 0;
	}
}

.is-fullheight {
	height: 100vh;
}

#storetaipei {
	padding-top: 20px;

	.storetop {
		background: url('../img/taipei/storetop.jpg') center center;
		background-size: cover;
		position: relative;

		img {
			position: absolute;
			right: 15%;
			bottom: 10%;
			@include tablet{
				right: 65px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

#storekyoto {
	padding-top: 20px;

	.storetop {
		background: url('../img/kyoto/storetop.jpg');
		background-size: cover;
		position: relative;

		img {
			position: absolute;
			left: 10%;
			top: 10%;
			@include tablet{
				right: 65px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

#tai1 {
	background: url('../img/taipei/gallery1.jpg') center center;
	background-size: cover;
}

#tai2 {
	background: url('../img/taipei/gallery2.jpg') center center;
	background-size: cover;
}

#tai3 {
	background: url('../img/taipei/gallery3.jpg') center center;
	background-size: cover;
}
#kyo1 {
	background: url('../img/kyoto/gallery3.jpg') center center;
	background-size: cover;
}

#kyo2 {
	background: url('../img/kyoto/gallery1.jpg') center center;
	background-size: cover;
}

#kyo3 {
	background: url('../img/kyoto/gallery2.jpg') center center;
	background-size: cover;
}
.gphoto {
	height: 800px;
	width: 100%;
}

.gphoto2 {
	height: 392px;
	width: 100%;
	margin-bottom: 16px;
}
footer {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 7px;
	font-family: "Legacy Serif Book Italic";
}

#top {
	background: url('../img/top.jpg') center center;
	background-size: cover;
}

#logo {
	position: absolute;
	left: 150px;
	bottom: 130px;
	@include tablet{
		left: 70px;
		bottom: 150px;
	}
}

#social {
	position: absolute;
	right: 40px;
	top: 35px;

	.lang {
		font-family: $egmedium;
		color: white;
		text-align: right;
		margin-top: 10px;
		letter-spacing: 0.2em;

		.active {
			color: white;
		}

		.inactive {
			color: rgba(255, 255, 255, 0.5);
			transition: $anime;

			&:hover {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
	@include tablet{
		right: 25px;
		top: 20px;
		.lang{
			margin-top: 5px;
		}
	}
}

.links {
	a {
		transition: $anime;
		margin-left: 10px;

		&:hover {
			opacity: 0.5;
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

.centeredtitle {
	text-align: center;
	margin-top: 150px;
	margin-bottom: 100px;

	a {
		margin: 0 3rem;
	}
	@include tablet{
		margin-bottom: 50px;
	}
}

.contents {
	margin-top: 200px;
}

.photo {
	margin-top: 200px;
	background-size: cover;
	background-position: center center;
}

.exhibit {
	position: relative;
	padding-top: 50px;
	margin-top: 100px;

	img {
		width: 100%;
	}

	.iconlink {
		position: absolute;
		top: 50px;
		right: 20px;
	}
	@include tablet{
		padding-top: 0;
		.iconlink{
			top: 18px;
			left: 12px;
			right: auto;
		}
	}
}
.excaption {
	h6 {
		font-size: 18px;
		margin-bottom: 50px;
	}

	.period {
		font-family: $egmedium;
		letter-spacing: 0.05em;
		margin-bottom: 50px;
	}
	@include tablet{
		h6{
			font-size: 15px;
			margin-top: 20px;
			margin-bottom: 5px;
		}
		.period{
			margin-bottom: 25px;
		}
	}
}

.access {
	padding-top: 50px;

	h6 {
		margin-bottom: 5px;
	}

	h5 {
		margin-bottom: 50px;
	}
	@include tablet{
		h5{
			margin-bottom: 30px;
		}
	}
}

.iconlink {
	font-family: $icon;
	font-size: 25px;
	border: 1px solid black;
	position: relative;
	transition: $anime;
	overflow: hidden;
	z-index: 2;
	display: inline-block;
	padding: 0 15px 2px;

	&::before {
		overflow: hidden;
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		transform: translateY(100%);
		background-color: black;
		transition: $anime;
		z-index: -1;
	}

	&:hover {
		color: $main;

		&::before {
			transform: translateY(0);
		}
	}
	@include tablet{
		font-size: 21px;
		padding: 0 10px 3px;
	}
}

#img1 {
	background-image: url('../img/img1.jpg');
}

#img2 {
	background-image: url('../img/img2.jpg');
}

#profile {
	background-color: #292823;
	margin-top: 0;
	padding-top: 200px;
	padding-bottom: 180px;
	color: $whitegray;

	h6 {
		margin-bottom: 1rem;
		color: $whitegray;
		font-size: 20px;
	}

	.bio {
		margin-top: 50px;
		&:last-child{
			margin-top: -200px;
			.column{
				background-color: rgba(41, 40, 35 ,0.5)
			}
		}
	}
	@include tablet{
		padding-top: 150px;
		padding-bottom: 130px;
	}
}

#class {
	margin-top: 280px;
	padding-top: 20px;

	.border {
		width: calc(100vw - 40px);
		border: 1px solid;
		margin-left: 20px;
		padding-top: 150px;
		padding-bottom: 100px;
	}
	span {
			font-size: 0.9em;
		}
	h3 {
		text-align: center;
	}

	.desc {
		text-align: center;
		margin-bottom: 50px;
	}

	.classphoto {
		height: 500px;
		background: url('../img/class.jpg') center center;
		background-size: cover;
		margin-bottom: 20px;
	}
	@include tablet{
		margin-top: 150px;
		.border{
			padding-top: 100px;
		}
	}
}

.menu-btn {
	font-family: $icon;
	position: fixed;
	top: 30px;
	left: 45px;
	z-index: 999;
	display: inline;
	font-size: 32px;

	&:hover {
		opacity: 0.5;
	}
	@include tablet{
		top: 15px;
		left: 30px;
	}
}

.runborder {
	position: relative;
	display: inline-block;
	text-decoration: none;
	z-index: 0;

	&:before {
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: black;
		content: '';
		left: 0;
		bottom: -1px;
	}

	&:after {
		position: absolute;
		content: "";
		width: 30px;
		height: 3px;
		left: -30px;
		bottom: -2px;
		z-index: 1;
		background-color: $main;
		transition: $anime;
	}

	&:hover {
		color: black;

		&:after {
			left: 100%;
		}
	}
}

#devider {
	margin-top: 200px;
	margin-bottom: 210px;
	height: 1px;
	background-color: black;
}

#taipei {
	width: 100%;
	height: 400px;
	@include tablet{
		height: 300px;
	}
}

#kyoto {
	width: 100%;
	height: 400px;
	@include tablet{
		height: 300px;
	}
}

.menu-btn a {
	display: inline-block;
	text-decoration: none;
	/* safari hack */
}

.btn-open:after {
	color: white;
	font-family: $icon;
	content: "D";
	transition: $anime;
}

.btn-open.background--light:after {
	color: black;
}

.btn-open.background--dark:after {
	color: white;
}

.btn-open:hover:after {
	opacity: 0.5;
}

.btn-close:after {
	color: #fff;
	content: "C";
	transition: $anime;
	font-family: $icon;
}

.btn-close:hover:after {
	opacity: 0.5;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	display: none;
	overflow: auto;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);

	#menu {
		position: absolute;
		top: 48%;
		transform: translateY(-50%);
		margin-left: 45px;

		div p {
			font-size: 23px;
			margin-bottom: 10px;
			letter-spacing: 0.05em;

			a {
				color: white;
				transition: $anime;

				&:hover {
					opacity: 0.5;
				}
			}
		}

		div p.sub {
			margin-top: -10px;
			font-size: 1.1em;

			a {
				margin-left: 27px;
			}
		}
	}

	.links {
		margin-top: 50px;
	}

	.lang {
		font-family: $egmedium;
		color: white;
		text-align: left;
		margin-top: 10px;
		letter-spacing: 0.2em;

		.active {
			color: white;
		}

		.inactive {
			color: rgba(255, 255, 255, 0.5);
			transition: $anime;

			&:hover {
				color: rgba(255, 255, 255, 1);
			}
		}
	}
}